@layout('layouts/main')

@section('body')
    <div id="container">
      <img src="Logo.png" class="logo">
      <div>
        <h1 class="title"> Welcome to Communation! </h1>
        <p class="subtitle">
          Proletarier aller Länder, vereinigt euch!
        </p>
        <a id="seePost" href='/posts'>See the posts!</a>
      </div>
    </div>
@end
