@layout('layouts/main')

@section('body')

  @each (post in posts)
    <div id="post">
      <a href="/posts/{{post.id}}">
      <div id="author">{{post.Autor}}</div>
      <div id="content">{{post.Content}}</div>
      </a>
      <div id="likes">
        <button class="fas fa-thumbs-up" id="buttonPosts" > 5 </button>
        <button class="fas fa-thumbs-down" id="buttonPosts" > 5</button>
        <button class="fas fa-comment" id="buttonPosts" > 7</button>
      </div>
    </div>
  @end
@end
