@layout('layouts/main')

@section('body')
  <div id="post">
    <div id="author">{{post.author}}</div>
    <div id="content">{{post.content}}</div>
    <div id="likes">
      <button class="fas fa-thumbs-up" id="buttonPosts" > {{post.likes}}</button>
      <button class="fas fa-thumbs-down" id="buttonPosts" > {{post.dislikes}}</button>
      <button class="fas fa-comment" id="buttonPosts" > 7</button>
    </div>
  </div>
  <div id="post">
    
  </div>
@end